@import url("../styles/global.css");

/*Reset*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: var(--background);
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.auth-card {
  background-color: var(--cards);
  padding: 2rem;
  border-radius: 12px;
  box-shadow: 0 6px 18px rgba(0, 0, 0, 0.8);
  width: 100%;
  max-width: 400px;
  text-align: center;
}

.auth__logo {
  font-size: 2.5rem;
  font-family: "Poppins", sans-serif;
  color: var(--primary);
  margin-bottom: 1rem;
  font-weight: 800;
}

.auth__toggle {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-bottom: 1.5rem;
}

.toggle {
  flex: 1;
  padding: 0.75rem;
  border: none;
  border-radius: 999px;
  background-color: var(--background);
  color: var(--secondary);
  font-weight: 600;
  cursor: pointer;
  font-size: 1.3rem;
  transition: background-color 0.3s ease;
}
.toggle.active {
  background-color: var(--primary);
  color: var(--cards);
}

.form-group {
  margin-bottom: 1rem;
  text-align: left;
}

.form-group label {
  display: block;
  font-size: 1.1rem;
  margin-bottom: 0.25rem;
  color: var(--secondary);
}

.form-group input {
  width: 100%;
  padding: 0.75rem;
  border: 1px solid var(--primary);
  border-radius: 999px;
  font-size: 1.3rem;
  transition: all 0.25s ease;
  outline: none;
}

.form-group input:focus {
  border-color: var(--cards);
  box-shadow: 0 0 0 3px rgba(33, 194, 94, 0.25);
}

.btn-primary {
  width: 100%;
  padding: 0.75rem;
  background-color: var(--primary);
  color: var(--cards);
  border: none;
  border-radius: 999px;
  font-size: 1.3rem;
  font-weight: 600;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.btn-primary:hover {
  background-color: var(--primary-hover);
}

.auth__help {
  font-size: 1.1rem;
  color: var(--secondary);
  margin-top: 1rem;
}

.password-wrapper {
  position: relative;
  display: flex;
  align-items: center;
}

.password-wrapper input {
  width: 100%;
  padding-right: 2.5rem;
}

.password-toggle {
  position: absolute;
  right: 0.75rem;
  background: none;
  border: none;
  cursor: pointer;
  color: var(--secondary);
  display: flex;
  align-items: center;
}

.password-toggle svg {
  width: 20px;
  height: 20px;
  stroke: var(--secondary);
}
